:root {
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --gray-text-color: #757575;
  --background-darkblue-color: #2f303a;
  --white-color: #fff;
  --black-color: #000;
  --background-gray-color: #f5f4fa;
}
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: var(--white-color);
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-web {
  color: var(--accent-color);
}
.contacts.list {
  color: var(--gray-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.navigation.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--main-text-color);
}

.list:hover,
.list:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-darkblue-color);
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button.portfolio {
  background-color: var(--background-gray-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button,
.button.portfolio:hover,
.button.portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.button:hover,
.button:focus {
  background-color: var(--white-color);
  color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.features.name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features.text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--gray-text-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team {
  background-color: var(--background-gray-color);
}
.team-item {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.portfolio-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list a {
  color: inherit;
}
.team p,
.portfolio-list p {
  font-weight: 400;
  color: var(--gray-text-color);
}

.portfolio-list p {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--background-darkblue-color);
}
.footer > .logo,
.adress.phisical {
  color: var(--white-color);
}
.adress {
  color: var(--gray-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
